@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #252525;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #f7f7f7;
  padding: 2rem;
}

.TodoForm {
  width: 100%;
  margin-bottom: 2rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #6c63ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 300px;
  color: #252525;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #6c63ff;
  color: #f7f7f7;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  background: #f7f7f7;
  color: #000000;
  padding: 0.75rem 1rem;
  
}

.Todo:not(:last-child) {
  border-bottom: 1px solid #6c63ff;
}

.Todo input[type="checkbox"] {
  margin-right: 10px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #f7f7f7;
  cursor: pointer;
}

.completed {
  color: #707070;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}


